body {
    background-color: #0C0C0C;
    color: white; 
    font-family: Sans ; 
    margin: 0; 
    padding: 0; 
}

.container {
    border-style:solid;
    border-color:white;
    background-color:#0c0c0c;
    font-size:20px;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 200px; 
}
.steps{
  border-style:solid;
  border-color:grey;
  padding: 20px;

}
.day1{
  
}
p {
  font-size:24px;
}
h1 {
    text-align: center; 
}

p {
    line-height: 1.6; 
}
.inter {
  background-color:white;
}
